<div class="container">
  <div class="radioco-player" style="text-shadow: rgb(230, 39, 63) 0px 1px 3px;">
  <div class="wrap stopped" style="border-radius: 8px;">
      <ul class="info large">
          <li class="artwork">
            <i class="fa fa-play-circle icon icon-player" style="color: rgb(54, 67, 73); margin-left: 168.5px; text-shadow: rgb(255, 64, 88) 0px 1px 10px;"></i>
              <%= image_tag 'Help-You-Chill-Logo.png', width: 400, height: 400, class: 'current-artwork resize-w resize-h' %>
              
          </li>
          <li class="controls resize-w" style="color: rgb(54, 67, 73); width: 400px; background: rgb(163, 127, 185);">
              <div class="trackinformation">
                  <ul>
                      <li class="track-name">My First Song</li>
                      <li class="artist-name">Michael Blu</li>
                  </ul>
              </div>
              <ul class="actions">
                  <li><i class="fa fa-volume-off speaker" id="pseudoCssId0" style="color: rgb(54, 67, 73);"><span class="low"></span></i></li>
                  <li><input type="text" data-slider="true" value="0.8" data-slider-highlight="true"></li>
                  <li><span class="streamtime" style="display: none;">00:00:00</span></li>
              </ul>
          </li>
      </ul>
  </div>
  </div>
  <div class="social" style="margin-top:7px; height:25px;">
      <div class="twitter">
          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1450370812377&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html&amp;size=m&amp;text=I%20Wanna%20Dance&amp;type=share&amp;url=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
      </div>
      <div class="facebook-share">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.ifeelgood.fm.usrfiles.com%2Fhtml%2F62dee9_e318dc1afcc4ba522b2c62fb06db3b9d.html&amp;layout=button&amp;appId=184840588312425" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></div>
      <div class="embed"><a href="#">Embed</a></div>
  </div>

  <span class="radioplayer"
  data-src="http://streaming.radio.co/sd91f274af/listen"
  data-playbutton="false"
  data-volumeslider="false"
  data-elapsedtime="false"
  data-nowplaying="false"
  data-showplayer="false"
  data-albumArtwork="false"></span>

</div>
<div class="container">
  <div class="radioco-player" style="text-shadow: rgb(230, 39, 63) 0px 1px 3px;">
  <div class="wrap stopped" style="border-radius: 8px;">
      <ul class="info large">
          <li class="artwork">
            <i class="fa fa-play-circle icon icon-player" style="color: rgb(54, 67, 73); margin-left: 168.5px; text-shadow: rgb(255, 64, 88) 0px 1px 10px;"></i>
              <%= image_tag 'Help-You-Chill-Logo.png', width: 400, height: 400, class: 'current-artwork resize-w resize-h' %>
              
          </li>
          <li class="controls resize-w" style="color: rgb(54, 67, 73); width: 400px; background: rgb(163, 127, 185);">
              <div class="trackinformation">
                  <ul>
                      <li class="track-name">My First Song</li>
                      <li class="artist-name">Michael Blu</li>
                  </ul>
              </div>
              <ul class="actions">
                  <li><i class="fa fa-volume-off speaker" id="pseudoCssId0" style="color: rgb(54, 67, 73);"><span class="low"></span></i></li>
                  <li><input type="text" data-slider="true" value="0.8" data-slider-highlight="true"></li>
                  <li><span class="streamtime" style="display: none;">00:00:00</span></li>
              </ul>
          </li>
      </ul>
  </div>
  </div>
  <div class="social" style="margin-top:7px; height:25px;">
      <div class="twitter">
          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1450370812377&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html&amp;size=m&amp;text=I%20Wanna%20Dance&amp;type=share&amp;url=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
      </div>
      <div class="facebook-share">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.ifeelgood.fm.usrfiles.com%2Fhtml%2F62dee9_e318dc1afcc4ba522b2c62fb06db3b9d.html&amp;layout=button&amp;appId=184840588312425" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></div>
      <div class="embed"><a href="#">Embed</a></div>
  </div>

  <span class="radioplayer"
  data-src="http://streaming.radio.co/sd91f274af/listen"
  data-playbutton="false"
  data-volumeslider="false"
  data-elapsedtime="false"
  data-nowplaying="false"
  data-showplayer="false"
  data-albumArtwork="false"></span>

</div>
<div class="container">
  <div class="radioco-player" style="text-shadow: rgb(230, 39, 63) 0px 1px 3px;">
  <div class="wrap stopped" style="border-radius: 8px;">
      <ul class="info large">
          <li class="artwork">
            <i class="fa fa-play-circle icon icon-player" style="color: rgb(54, 67, 73); margin-left: 168.5px; text-shadow: rgb(255, 64, 88) 0px 1px 10px;"></i>
              <%= image_tag 'Help-You-Chill-Logo.png', width: 400, height: 400, class: 'current-artwork resize-w resize-h' %>
              
          </li>
          <li class="controls resize-w" style="color: rgb(54, 67, 73); width: 400px; background: rgb(163, 127, 185);">
              <div class="trackinformation">
                  <ul>
                      <li class="track-name">My First Song</li>
                      <li class="artist-name">Michael Blu</li>
                  </ul>
              </div>
              <ul class="actions">
                  <li><i class="fa fa-volume-off speaker" id="pseudoCssId0" style="color: rgb(54, 67, 73);"><span class="low"></span></i></li>
                  <li><input type="text" data-slider="true" value="0.8" data-slider-highlight="true"></li>
                  <li><span class="streamtime" style="display: none;">00:00:00</span></li>
              </ul>
          </li>
      </ul>
  </div>
  </div>
  <div class="social" style="margin-top:7px; height:25px;">
      <div class="twitter">
          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.c633b87376883931e7436b93bb46a699.en.html#_=1450370812377&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html&amp;size=m&amp;text=I%20Wanna%20Dance&amp;type=share&amp;url=https%3A%2F%2Fembed.radio.co%2Fplayer%2F1b8a17d.html" style="position: static; visibility: visible; width: 61px; height: 20px;"></iframe>
      </div>
      <div class="facebook-share">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.ifeelgood.fm.usrfiles.com%2Fhtml%2F62dee9_e318dc1afcc4ba522b2c62fb06db3b9d.html&amp;layout=button&amp;appId=184840588312425" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe></div>
      <div class="embed"><a href="#">Embed</a></div>
  </div>

  <span class="radioplayer"
  data-src="http://streaming.radio.co/sd91f274af/listen"
  data-playbutton="false"
  data-volumeslider="false"
  data-elapsedtime="false"
  data-nowplaying="false"
  data-showplayer="false"
  data-albumArtwork="false"></span>

</div>


<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://public.radio.co/playerapi/jquery.radiocoplayer.min.js"></script>
<script>
//initialise the pluhin with the element to the reference variable of 'player'
 var player = $('.radioplayer').radiocoPlayer();
 $("[data-slider]").bind("slider:ready slider:changed", function (event, data) {
    console.log(data.value.toFixed(3));
  });
</script>